<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{.Title}}</title>

        <!-- SEO Meta Tags -->
        <meta name="description" content="Noah Fences but..." />
        <meta
            name="keywords"
            content="law blog, bird law, legal advice, legal news"
        />
        <meta name="author" content="Bird Law Blog" />
        <link rel="canonical" href="https://blog.birdlaw.uk" />

        <!-- Open Graph Meta Tags -->
        <meta property="og:title" content="{{.Title}}" />
        <meta property="og:description" content="Noah Fences but..." />
        <meta
            property="og:image"
            content="https://blog.birdlaw.uk/static/static/icons/favicon.svg"
        />
        <meta property="og:url" content="https://blog.birdlaw.uk" />
        <meta property="og:type" content="article" />

        <!-- Twitter Card Meta Tags -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="{{.Title}}" />
        <meta name="twitter:description" content="Noah Fences but..." />
        <meta
            name="twitter:image"
            content="https://blog.birdlaw.uk/static/icons/favicon.svg"
        />

        <!-- Favicon -->
        <link rel="icon" href="/static/icons/favicon.svg" type="image/x-icon" />

        <!-- Custom Highlight.js Theme -->
        <link rel="stylesheet" href="/static/css/hjs.css" />

        <!-- Highlight.js Styles -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css"
        />

        <!-- Custom Styles -->
        <link rel="stylesheet" href="/static/css/site.css" />
        <link rel="stylesheet" href="/static/css/hjs.css" />
    </head>
    <body
        class="flex flex-col w-full min-h-screen bg-midnight-950 text-white relative"
    >
        <!-- Background Gradient -->
        <div
            class="fixed inset-0 bg-gradient-to-bl from-midnight-400 via-midnight-700 to-midnight-950 opacity-20 transform -rotate-45 scale-150 -z-10"
        ></div>
        <!-- Cool Rectangle -->
        <div
            class="fixed top-1/3 left-0 w-full h-32 bg-gradient-to-r from-syan-200 via-purple-400 to-peach-200 opacity-30 transform rotate-6 -z-10"
        ></div>
        <!-- Random Rectangle 1 -->
        <div
            class="fixed top-1/4 right-0 w-64 h-16 bg-gradient-to-r from-red-200 via-yellow-300 to-green-200 opacity-40 transform -rotate-3 -z-10"
        ></div>
        <!-- Random Rectangle 2 -->
        <div
            class="fixed bottom-1/3 left-0 w-48 h-24 bg-gradient-to-r from-blue-200 via-indigo-400 to-purple-200 opacity-25 transform rotate-12 -z-10"
        ></div>
        <!-- Random Rectangle 3 -->
        <div
            class="fixed bottom-10 right-0 w-80 h-20 bg-gradient-to-r from-pink-200 via-orange-300 to-yellow-200 opacity-35 transform -rotate-8 -z-10"
        ></div>

        <div class="fixed top-0 left-0 w-full z-50">
            {{ template "navbar.html" . }}
        </div>
        <div class="absolute top-0 left-3 opacity-0 z-0 animate-gopher">
            <img
                src="/static/icons/gopher.svg"
                alt="Go Gopher Mascot"
                class="w-32 h-32 md:w-40 md:h-40 lg:w-52 lg:h-52 rotate-180"
            />
        </div>
        <main
            id="dynamic-content"
            class="flex-grow relative p-4 sm:p-8 lg:p-12 overflow-auto shadow-lg mx-4 md:mx-12 lg:mx-24 my-12"
        >
            {{.Content}}
        </main>

        {{ template "footer.html" . }} {{ if .IsDev }}
        <script src="/static/js/refreshMeDaddy.js"></script>
        {{ end }}
        <script src="/static/js/site.js"></script>
        <!-- Highlight.js scripts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
        <!-- Line Numbers plugin script -->
        <script src="//cdn.jsdelivr.net/npm/highlightjs-line-numbers.js@2.8.0/dist/highlightjs-line-numbers.min.js"></script>
        <!-- Script to initialize Highlight.js and line numbers -->
    </body>
</html>
