<div
    id="navbar"
    class="flex justify-between w-full shadow-lg p-4 md:p-6 backdrop-blur-lg bg-midnight-950 bg-opacity-50 border-b border-midnight-800 z-100"
>
    <div class="text-purp-400 font-black text-lg">
        {{ template "header.html" . }}
    </div>
    <nav class="font-extrabold">
        <button
            id="menu-toggle"
            class="md:hidden rounded-md focus:outline-none text-2xl"
        >
            &#9776;
        </button>
        <div
            id="menu-modal"
            class="fixed inset-0 bg-midnight-950 bg-opacity-90 hidden z-20 flex flex-col w-full h-full transition-opacity duration-300 ease-in-out"
        >
            <button
                id="menu-close"
                class="absolute top-4 right-4 text-4xl text-peach-300"
            >
                &times;
            </button>
            <ul
                class="space-y-4 text-center mt-16 bg-midnight-800 p-4 rounded-md"
            >
                {{ range .Links }}
                <li>
                    <a
                        class="text-light-text text-xl hover:bg-midnight-900 hover:bg-opacity-70 p-6 md:p-4 rounded-md transition-colors duration-300 ease-in-out"
                        href="{{ .Href }}"
                        hx-get="{{ .Href }}"
                        hx-target="#dynamic-content"
                        hx-on::after-request="updateUrlWithSidebarState()"
                        hx-push-url="{{ .Href }}"
                        >{{ .Text }}</a
                    >
                </li>
                {{ end }}
            </ul>
        </div>
        <ul id="menu" class="hidden md:flex space-x-4">
            {{ range .Links }}
            <li>
                <a
                    class="hover:bg-midnight-900 hover:bg-opacity-70 p-2 rounded-md transition-colors duration-300 ease-in-out"
                    href="{{ .Href }}"
                    hx-get="{{ .Href }}"
                    hx-target="#dynamic-content"
                    hx-on::after-request="updateUrlWithSidebarState()"
                    hx-push-url="{{ .Href }}"
                    >{{ .Text }}</a
                >
            </li>
            {{ end }}
        </ul>
    </nav>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var currentPage = window.location.pathname;
        var navbar = document.getElementById("navbar");

        if (!currentPage.includes("/blog")) {
            navbar.classList.add("fixed");
        }
    });

    document
        .getElementById("menu-toggle")
        .addEventListener("click", function () {
            var menuModal = document.getElementById("menu-modal");
            menuModal.classList.toggle("hidden");
            if (!menuModal.classList.contains("hidden")) {
                menuModal.classList.add("opacity-100");
                menuModal.classList.remove("opacity-0");
            } else {
                menuModal.classList.add("opacity-0");
                menuModal.classList.remove("opacity-100");
            }
        });

    document
        .getElementById("menu-close")
        .addEventListener("click", function () {
            var menuModal = document.getElementById("menu-modal");
            menuModal.classList.add("hidden");
            menuModal.classList.add("opacity-0");
            menuModal.classList.remove("opacity-100");
        });

    document.querySelectorAll("#menu-modal a").forEach(function (link) {
        link.addEventListener("click", function () {
            var menuModal = document.getElementById("menu-modal");
            menuModal.classList.add("hidden");
            menuModal.classList.add("opacity-0");
            menuModal.classList.remove("opacity-100");
        });
    });
</script>
