<div class="p-4 bg-midnight-900 shadow-md rounded-lg">
    <img
        src="{{.GhPro.AvatarURL}}"
        alt="User Avatar"
        class="w-16 h-16 rounded-full mx-auto"
    />
    <div class="mt-4">
        <h3 class="text-xl text-purp-400 font-semibold">{{.GhPro.Login}}</h3>
        <p class="text-gray-500">{{.GhPro.PublicReposCount}} public repos</p>
        <a
            href="https://github.com/nooooaaaaah"
            class="view-profile text-syan-400 hover:text-blue-700 inline-block"
            >View GitHub Profile</a
        >
    </div>
</div>
